.header {
  height: 265px;
  background-color: #512689;
  display: flex;
  color: white;
}

.Img {
  border-radius: 50%;
  margin: 30px 20px 0 20px;
}

.info {
  margin-top: 60px;
}

.button {
  margin-top: 20px;
}

.button.back {
  margin-left: -30px;
}

.button.logOut {
  position: absolute;
  left: 1080px;
}

.main {
  display: flex;
}

.left {
  width: 60%;
}

.left p {
  width: 80%;
  margin: 30px 0 0 180px;
  text-align: left;
}

.right p {
  margin: 30px 0 0 130px;
  text-align: start;
}

.phoneIcon {
  width: 25px;
  height: 25px;
  color: #512689;
  position: absolute;
  position: relative;
  top: 7px;
  left: -7px;
}

.mailIcon {
  width: 25px;
  height: 25px;
  color: #512689;
  position: relative;
  top: 7px;
  left: -7px;
}

.buttonsMobile {
  width: 0px;
  opacity: 0;
}

@media all and (max-width: 375px) {
  .button {
    width: 0px;
    opacity: 0;
  }

  .button.back {
    width: 0px;
    height: 0px;
  }

  .button.logOut {
    width: 0px;
  }

  .header {
    height: 65px;
    background-color: #512689;
    display: flex;
    color: white;
    flex-direction: column-reverse;
  }

  .position {
    font-size: 1rem;
    text-align: center;
    margin-top: -15px;
    /* margin-bottom: 170px; */
  }

  .name {
    font-size: 2rem;
  }

  .header {
    height: 412px;
    background-color: #512689;
    display: flex;
    color: white;
  }

  .Img {
    border-radius: 50%;
    margin: 0;
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .buttonsMobile {
    display: flex;
    opacity: 1;
    justify-content: space-between;
    position: relative;
    top: -360px;
    left: 20px
  }

  .buttonExitMobile{
    margin-left: 240px;
    width: 25px;
    height: 25px;
  }

  .buttonBackMobile{
    width: 25px;
    height: 25px;
  }

  .phoneIcon {
    width: 25px;
    height: 25px;
    color: #512689;
    position: absolute;
    top: 428px;
    left: 15px;
  }
  
  .mainIcon {
    width: 25px;
    height: 25px;
    color: #512689;
    position: absolute;
    top: 465px;
    left: 15px;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    margin: 0;
    width: 100%;
  }

  .left p {
  text-align: left;
  margin: auto;
  width: 95%;
}

.right p {
  text-align: start;
  margin: 20px 0 10px 50px;
}
}
